<h1>Show</h1>
  <h2><%= @task.title %></h2>
    <p><%= @task.details %></p>
    <p><%= @task.completed %></p>
    <%= link_to "Delete",task_path(@task),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
    <%= link_to "index", tasks_path %>
    <%= link_to "update", edit_task_path %>
